pynput==1.7.6
plotly==5.17.0
flask_socketio==5.3.6
pandas==2.2.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pygetwindow
pychromedevtools==1.0.3
python-dotenv==1.0.1
openai==1.58.1
structlog==24.4.0