* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
    color: #7FFF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    width:100%;
}

h2 {
    margin-top: 0;
    color: white;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: calc(50% - 0.5rem); /* consider gap in width */
    text-align: center;
}

.card.active {
    border-color: greenyellow;
}

.card h2 {
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.card p {
    font-size: 2.5rem;
}

.charts-container {
    width: 100%;
    display: flex; /* makes sure charts are in a row */
    justify-content: space-between; /* space them out */
    width: 100%;
}

.chart-container {
    width: 100%;
    margin: 10px; 
    border: 1px solid #7FFF00;
    position: relative; /* make sure this container constrains the plot */
}

#duration_at_computer, #keys_pressed {
    width: 100%;  /* let the charts take up the full width of their parent */
    height: 100%; /* and the full height */
}